<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Informacion de Pelicula</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<h2 class="navbar-brand">INFORMACION DE PELICULA</h2>			
			<a th:href="@{/pelis/busca}" class="btn btn-outline-success">Home</a>			
		</div>
	</nav>
	
	<div class="container mt-5 mb-5">
		<div class="card text-center">
			<div class="card-header" >Informacion</div>
			<div class="card-body">
				<h3 class="card-title" th:text="${pelicula.title}"></h3>
				<p class="card-text" th:text="${pelicula.description}"> </p>
				<p class="card-text" th:text="|Rating : ${pelicula.rating}|"> </p>
				<p class="card-text" th:text="|Duracion : ${pelicula.length}|"> </p>
				<p class="card-text" th:text="|Categoria : ${pelicula.listaCategoria[0].name}|"> </p>
				<p class="card-text" th:text="|Precio Arriendo $ ${pelicula.rentalRate}|"> </p>
				<a href="/pelis/busca" class="btn btn-primary">Volver</a>
			</div>
			<div class="card-footer text-muted" th:text="|Codigo : ${pelicula.filmId}|"></div>
		</div>
	</div>

	<footer class="bg-dark text-white">
		<div class="container p-4">
			<div class="text-center">
				<small>Copyright ©m4R{ 2022. / Desarrollo de Aplicaciones Full Stack JAVA.</small>
			</div>
		</div>
	</footer>

<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>